     /*------ layout ------*/

     .body {
         background-color: mintcream;
         font-family: serif;
     }

     .footer {
         min-height: 200px
     }


     .title {
         color: white;
     }

     @media screen and (max-width: 768px){
     h1 {
         text-align: center;
         font-size: 36px;
         }
     }
     
    @media screen and (min-width: 768px){
     h1 {
         text-align: center;
         font-size: 50px;
         }
    }

     h2 {
         font-size: 20px;
     }

     h3 {
         font-size: 24px;
     }
     
     a {
    color: black;
    text-decoration: none;
    }
    

     @media screen and (min-width: 768px) and (max-width: 992px) {
         h3 {
             font-size: 32px;
         }
     }

     @media screen and (min-width: 992px) and (max-width: 1200px) {
         h3 {
             font-size: 36px;
         }
     }

     @media screen and (min-width: 1200px) {
         h3 {
             font-size: 40px;
         }
     }

     .contact-description {
         text-align: center;
         font-size: 20px;
     }

     .contact-section {
         width: 80%;
         margin: 10%;
     }

     .row {
         margin-right: 0px;
         margin-left: 0px;
         margin-bottom: 10px;
     }
     
     .padding0px{
         padding: 0px;
     }

     .border-continentinfo {
         margin-right: 0px;
         margin-left: 0px;
         border: solid;
         background-color: antiquewhite;
     }

     ol,
     ul {
         margin-top: 0;
         margin-bottom: 10px;
         margin-left: 0px;
         padding-left: 20px;
     }



     html,
     body {
         height: 100%;
         margin: 0;
         padding: 0;
     }

     .margins-10px {
         margin: 10px;
         margin-bottom: -30px;
     }


     #locationField {
         position: absolute;
         width: 190px;
         height: 25px;
         left: 108px;
         top: 0px;
         z-index: 5;
         background-color: #fff;
     }

     #controls {
         left: 300px;
         width: 140px;
         top: 0px;
         z-index: 5;
         background-color: #fff;
     }

     #autocomplete {
         width: 100%;
     }

     #country {
         width: 100%;
     }

     @media screen and (max-width: 993px) {
         .placeIcon {
             width: 34px;
             height: 34px;
             margin: 4px;
         }
     }

     @media screen and (min-width: 993px) {
         .placeIcon {
             width: 34px;
             height: 34px;
             margin: 4px;
             margin-right: 10px
         }
     }

     @media screen and (min-width: 1200px) {
         .placeIcon {
             width: 34px;
             height: 34px;
             margin: 4px;
             margin-right: 10px
         }
     }
     
    .placeiconwidth{
         width: 42px
     }

    .nameiconwidth{
        width: 45%;
        padding-right: 5%;
    }
    .addressiconwidth{
        width: 45%;
        padding-left: 5%;
    }
    
     .imageicon {
         width: 24px;
         height: 24px;
     }

    @media screen and (max-width: 768px) {
    .imagelocationinfo {
        text-align: right;
        margin-right: 10px;
        color: white;
        font-size: 16px;
            }
    }

    @media screen and (min-width: 768px) {
    .imagelocationinfo {
        text-align: right;
        margin-right: 10px;
        color: white;
        font-size: 32px;
            }
    }

     .imagetextposition {
         bottom: -95%;
         position: relative;
     }


     /*continent layout*/

     @media screen and (max-width: 650px) {
         .travellocationslist {
             margin-top: 0px;
             padding: 0px;
             margin-left: 20px;
             font-size: 20px;
             margin-bottom: 10px;
         }
     }


     @media screen and (min-width: 650px) and (max-width: 768px) {
         .travellocationslist {
             margin-top: 0px;
             padding: 0px;
             margin-left: 20px;
             font-size: 24px;
             margin-bottom: 10px;
         }
     }

     @media screen and (min-width: 768px) and (max-width: 992px) {
         .travellocationslist {
             margin-top: 5%;
             padding: 0px;
             margin-left: 5%;
             font-size: 28px;
         }
     }

     @media screen and (min-width: 992px) and (max-width: 1200px) {
         .travellocationslist {
             margin-top: 5%;
             padding: 0px;
             margin-left: 5%;
             font-size: 32px;
         }
     }

     @media screen and (min-width: 1200px) {
         .travellocationslist {
             margin-top: 5%;
             padding: 0px;
             margin-left: 5%;
             font-size: 36px;
         }
     }


     /*------ navbar ------*/

     @media screen and (max-width: 768px) {
         .navbar {
             background-color: dodgerblue;
             color: white;
             margin: 0px;
             margin-bottom: -20px;
             border-color: dodgerblue;
             font-size: 13px;
         }
     }

     @media screen and (min-device-width: 768px) and (max-device-width: 992px) {
         .navbar {
             background-color: dodgerblue;
             color: white;
             margin: 0px;
             margin-bottom: -20px;
             border-color: dodgerblue;
             font-size: 13px;
         }
     }

     @media screen and (min-width: 992px) {
         .navbar {
             background-color: dodgerblue;
             color: white;
             margin: 0px;
             margin-bottom: -10px;
             border-color: dodgerblue;
             font-size: 18px;
         }
     }

     @media screen and (min-width: 1200px) {
         .navbar {
            background-color: dodgerblue;
            color: white;
            margin: 0px;
            margin-bottom: -10px;
            border-color: dodgerblue;
            font-size: 23px;
         }
     }


     @media screen and (max-width: 992px) {
         .navbar-title {
            background-color: dodgerblue;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 17px;
            line-height: 20px;
            color: white;
             
         }
     }


     @media screen and (min-width: 992px) {
         .navbar-title {
            background-color: dodgerblue;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 22px;
            line-height: 20px;
            color: white;
         }
     }

     @media screen and (min-width: 1200px) {
         .navbar-title {
             float: left;
             height: 50px;
             padding: 15px 15px;
             font-size: 27px;
             line-height: 20px;
             color: white;
         }
     }

     .navbar-nav {
         background-color: dodgerblue;
     }

     .navbar-default .navbar-brand {
         color: white;
     }

     .navbar-default .navbar-nav>li>a {
         color: white;
     }

     .navbar-default .navbar-nav>.active>a,
     .navbar-default .navbar-nav>.active>a:focus,
     .navbar-default .navbar-nav>.active>a:hover {
         color: white;

     }

     .navbar-default .navbar-toggle .icon-bar {
         background-color: white;
     }

     .navbar-default .navbar-toggle:focus,
     .navbar-default .navbar-toggle:hover {
         background-color: dodgerblue;
     }




     @media (min-width: 992px) {
         .resultslist {
             position: relative;
             padding-right: 10px;
             padding-left: 10px;
             margin-right: 15px;
             background-color: transparent;
             border: 1px solid transparent;
             border-radius: 4px;
             text-align: center;
             width: 100%;
             font-size: 24px;

         }
     }
     
          @media (min-width: 768px) and (max-width: 992px) {
         .resultslist {
             position: relative;
             padding-right: 10px;
             padding-left: 10px;
             margin-right: 15px;
             background-color: transparent;
             border: 1px solid transparent;
             border-radius: 4px;
             text-align: center;
             width: 100%;
            font-size: 24px;
         }
     }
     
     

     @media (max-width: 768px) {
         .resultslist {
             text-align: center;
             width: 100%;
             border-radius: 0px;
             margin-bottom: 10px;
             font-size: 24px;
         }
     }

    .navbar-background-color{
        background-color: dodgerblue;
    }

     /*------ Image ------*/

     @media screen and (min-width: 768px) {
         .destinationcontainer {
             border: solid;
             padding: 10px;
             border-radius: 100px;
             min-height: 500px;
             background-color: white;
         }
     }

     @media screen and (max-width: 768px) {
         .destinationcontainer {
             min-height: 500px;
             background-color: white;
             padding-top: 5px;
             max-width: 100%;
         }
     }

     @media screen and (max-device-width: 992px) {
         .mapscontainer {
             border: solid;
             min-height: 300px;
         }
     }

     @media screen and (min-width: 992px) {
         .mapscontainer {
             border: solid;
             min-height: 440px;
             margin-top: 50px;

         }
     }


     /*---mapwidth---*/

         .mapwidth {
             width: 100%;
         }


     /*---google maps background images---*/

     @media screen and (min-width: 768px) {
         .beachholiday-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/beachholiday.jpg") no-repeat center top;
             min-height: 750px;
             background-size: cover;
             padding-top: 8%;
             padding-left: 5%;
             padding-right: 5%;
             padding-bottom: 8%;
         }
     }
    
    @media screen and (min-width:768px){
    .imagepositionright{
        float: right;
        }
    }

     @media screen and (max-width: 280px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 150px;
             
             margin: 10px;
         }
     }


     @media screen and (min-width: 280px) and (max-width: 330px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 170px;
             
             margin: 10px;
         }
     }

     @media screen and (min-width: 330px) and (max-width: 360px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 180px;
             
             margin: 10px;
         }
     }

     @media screen and (min-width: 360px) and (max-width: 380px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 200px;
             
             margin: 10px;
         }
     }

     @media screen and (min-width: 380px) and (max-width: 425px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 220px;
             
             margin: 10px;
         }
     }

     @media screen and (min-width: 425px) and (max-width: 450px) {
         .backgroundimage-orientation {
             background-size: cover;
             min-height: 230px;
             
             margin: 10px;
         }
     }


     @media screen and (min-width: 450px) and (max-device-width: 650px) {
         .backgroundimage-orientation {
             min-height: 200px;
             background-size: cover;
             margin: 5%;
             
         }
     }


     @media screen and (min-width: 650px) and (max-device-width: 850px) {
         .backgroundimage-orientation {
             min-height: 250px;
             background-size: cover;
             margin: 5%;
             
         }
     }

     @media screen and (min-width: 850px) and (max-device-width: 950px) {
         .backgroundimage-orientation {
             min-height: 300px;
             background-size: cover;
             margin: 5%;
             
         }
     }

     @media screen and (min-width: 950px)and (max-device-width: 992px) {
         .backgroundimage-orientation {
             min-height: 330px;
             background-size: cover;
             margin: 5%;
             
         }
     }

     @media screen and (min-width: 992px) {
         .backgroundimage-orientation {
             min-height: 350px;
             background-size: cover;
             margin: 5%;
             
         }
     }

    
    @media screen and (min-width: 450px) {
    .backgroundimage-positionleft{
        float: left;
    
        }
    }
        @media screen and (min-width: 450px) {
    .backgroundimage-positionright{
        float: right;
    
        }
    }
    
    
    




     /*--- europe background images---*/

     @media screen and (min-width: 768px) {
         .europe-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/europe-backgroundimage.jpg") no-repeat center top;
             background-position-y: bottom;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .europe-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/europe-backgroundimage.jpg") no-repeat center top;
             background-position-y: bottom;
             background-size: cover;

         }
     }


     /*--- North America background images---*/

     @media screen and (min-width: 768px) {
         .northamerica-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
             background-position-y: center;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .northamerica-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
             background-position-y: center;
             background-size: cover;
         }
     }

     /*--- South America background images---*/

     @media screen and (min-width: 768px) {
         .southamerica-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
             background-position-y: bottom;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .southamerica-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
             background-position-y: bottom;
             background-size: cover;
         }
     }

     /*--- Africa background images---*/

     @media screen and (min-width: 768px) {
         .africa-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/africa-backgroundimage.jpg") no-repeat center top;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .africa-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/africa-backgroundimage.jpg") no-repeat center top;
             background-size: cover;

         }
     }

     /*--- australia  background images---*/

     @media screen and (min-width: 768px) {
         .australia-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/australia-backgroundimage.jpg") no-repeat center top;
             background-position-y: 70%;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .australia-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/australia-backgroundimage.jpg") no-repeat center top;
             background-position-y: 70%;
             background-size: cover;
         }
     }

     /*--- oceania  background images---*/

     @media screen and (min-width: 768px) {
         .oceania-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
             background-position-y: center;
             background-size: cover;
         }
     }

     @media screen and (max-width: 768px) {
         .oceania-mobile-backgroundimage {
             background: url("/Project-2-Interactive-Frontend-Development-Milestone-Project/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
             background-position-y: center;
             background-size: cover;
         }
     }


     /* Box styles */

     .myBox {
         width: 100%;
         border: none;
         padding: 0px;
         font: 24px/36px sans-serif;
         overflow: scroll;

     }

     /* Scrollbar styles */

     ::-webkit-scrollbar {
         width: 10px;
     }

     ::-webkit-scrollbar-track {
         background: #f5f5f5;
         border-radius: 10px;
     }

     ::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background: #ccc;
     }

     ::-webkit-scrollbar-thumb:hover {
         background: #999;
     }

     /* map */

     @media screen and (min-width: 768px) {
         #map {
             height: 100%;
             max-height: 440px;
             margin-top: 50px;
         }
     }

     @media screen and (max-width: 768px) {
         #map {
             height: 100%;
             max-height: 440px;
             margin-top: 50px;

         }
     }


     /* listings */

     @media screen and (min-width: 992px) {
         .col-sm-percent {
             width: 100%;
             position: relative;
             min-height: 1px;
         }
     }

     @media screen and (min-width: 768px) {
         .maplistingbackground {
             background-color: antiquewhite;
             border-radius: 30px;
             padding: 5px;
         }
     }

     @media screen and (max-width: 768px) {
         .maplistingbackground {
             background-color: antiquewhite;
         }
     }

     @media screen and (min-width: 991px) {
         .listing {
             max-height: 440px;
             overflow: auto;
             cursor: pointer;
             overflow-x: hidden;
             margin-bottom: 50px;
             margin-right: 10%;
             font-size: 24px;
         }
     }

     @media screen and (min-device-width: 768px) and (max-device-width: 991px) {
         .listing {
             width: 100%;
             max-height: 440px;
             overflow: auto;
             cursor: pointer;
             overflow-x: hidden;
             margin-bottom: 50px;
            font-size: 20px;
         }
     }


     @media screen and (max-width: 768px) {
         .listing {
             width: 100%;
             max-height: 440px;
             overflow: auto;
             cursor: pointer;
             overflow-x: hidden;
             margin-bottom: 50px;
             padding: 0px;
             font-size: 16px;
         }
     }


     a:focus,
     a:hover {
         color: black;
         text-decoration: none;
     }

    @media screen and (max-width: 380px) {
    .listIcon {
    width: 5%;
    float: left;
    margin-left: 1%;
    display: none;
    }
}
    @media screen and (max-width: 768px) {
    .listIcon {
    width: 5%;
    float: left;
    margin-left: 1%;
    }
}
    @media screen and (min-width: 768px) {
    .listIcon{
        width: 5%;
        float: left;
    }
}

    .listName{
        float:left;
        width:47%;
        text-align:left;
        margin-left:5%;
    }

    .listAddress{
        float:left;
        text-align:left;
        margin-left:3%;
    }


     /* Results table */
     
     

     @media screen and (min-width: 992px) {
         .resultsTable {
             border-collapse: collapse;
             width: 100%;
             color: black;
         }
     }

     @media screen and (max-width: 992px) {
         .resultsTable {
             width: 100%;
             margin-bottom: 5%;
             color: black;
         }
     }


     /* Results table content */

     .iw_table_row {
         height: 18px;
     }

     .iw_attribute_name {
         font-weight: bold;
         text-align: right;
     }

     .iw_table_icon {
         text-align: right;
     }



     /* Star Ratings */

     .rate-area {
         border-style: none;
     }

     .rate-area:not(:checked)>input {
         position: absolute;
         top: -9999px;
         clip: rect(0, 0, 0, 0);
     }

     .rate-area:not(:checked)>label {
         float: right;
         width: 1em;
         padding: 0 .1em;
         overflow: hidden;
         white-space: nowrap;
         cursor: pointer;
         font-size: 150%;
         line-height: 1.2;
         color: lightgrey;
         text-shadow: 1px 1px #bbb;
     }

     .rate-area:not(:checked)>label:before {
         content: '★ ';
     }

     .rate-area>input:checked~label {
         color: gold;
         text-shadow: 1px 1px #c60;
         font-size: 150% !important;
     }

     .rate-area:not(:checked)>label:hover,
     .rate-area:not(:checked)>label:hover~label {
         color: gold;
     }

     .rate-area>input:checked+label:hover,
     .rate-area>input:checked+label:hover~label,
     .rate-area>input:checked~label:hover,
     .rate-area>input:checked~label:hover~label,
     .rate-area>label:hover~input:checked~label {
         color: gold;
         text-shadow: 1px 1px goldenrod;
     }

     .rate-area>label:active {
         position: relative;
         top: 2px;
         left: 2px;
     }