     /*------ layout ------*/
     
.body{
        background-color: mintcream;
}

.header{
 
}

.footer{
    min-height: 200px
}

.body{
    
}

.title{
    color: white;
}


h1{
   text-align: center; 
}
h2{
    font-size: 20px;
}

.contact-description{
    text-align:center;
    font-size:20px;
}
.contact-section{
    width: 80%;
   margin: 10%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.travellocationslist{
    margin-top: 0px;
    padding: 10px;
}

     /*------ navbar ------*/

.navbar{
    background-color: blue;
    color:  white;
    margin: 0px;
    margin-bottom: -10px;
}
.navbar-nav{
    background-color: blue;
}

.navbar-default .navbar-brand {
    color: white;    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    
}


     /*------ Image ------*/

@media screen and (min-width: 768px){
.destinationcontainer{
    border: solid;
    padding: 10px;
    border-radius: 100px;
    min-height: 500px;
    background-color: white;
    }
}

@media screen and (max-width: 768px){
.mobile-destinationcontainer{
    min-height: 500px;
    background-color: white;
    padding-top: 5px;
    
}
}

@media screen and (min-width: 768px){
.mapscontainer{
    border: solid;
    min-height: 440px;
    margin-top: 50px;
    margin-bottom: 50px;
     max-width: 60%;
     left: 10%;
     right:10%;
    }
}

@media screen and (max-width: 768px){
.mobile-mapscontainer{
    border: solid;
    min-height: 350px;
}
}

/*---google maps background images---*/

@media screen and (min-width: 768px){
.beachholiday-backgroundimage{
    background: url("/assets/images/beachholiday.jpg") no-repeat center top;
    min-height: 1000px;
    background-size: cover;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
    margin: 5%;
}
}
@media screen and (min-width: 768px){
.backgroundimage-orientation{
    min-height: 400px;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}
@media screen and (max-width: 768px){
.mobile-backgroundimage-orientation{
    background-size: cover;
    float: left;
    min-height: 250px;
    min-width: 60%;
    margin: 10px;
    background-size: cover;
}
}

/*--- europe background images---*/

@media screen and (min-width: 768px){
.europe-backgroundimage{
    background: url("/assets/images/europe-backgroundimage.jpg") no-repeat center top;
    background-position-y: bottom;
}
}

@media screen and (max-width: 768px){
.europe-mobile-backgroundimage{
    background: url("/assets/images/europe-backgroundimage.jpg") no-repeat center top;
    background-position-y: bottom;
    background-size: cover;
    
}
}


/*--- North America background images---*/

@media screen and (min-width: 768px){
.northamerica-backgroundimage{
    background: url("/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
    background-position-y: center;
}
}

@media screen and (max-width: 768px){
.northamerica-mobile-backgroundimage{
    background: url("/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
    background-position-y: center;
    background-size: cover;
}
}

/*--- South America background images---*/

@media screen and (min-width: 768px){
.southamerica-backgroundimage{
    background: url("/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
    background-position-y: bottom;
}
}

@media screen and (max-width: 768px){
.southamerica-mobile-backgroundimage{
    background: url("/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
    background-position-y: bottom;
    background-size: cover;
}
}

/*--- Africa background images---*/

@media screen and (min-width: 768px){
.africa-backgroundimage{
    background: url("/assets/images/africa-backgroundimage.jpg") no-repeat center top;

}
}

@media screen and (max-width: 768px){
.africa-mobile-backgroundimage{
    background: url("/assets/images/africa-backgroundimage.jpg") no-repeat center top;
    background-size: cover;

}
}

/*--- australia  background images---*/

@media screen and (min-width: 768px){
.australia-backgroundimage{
    background: url("/assets/images/australia-backgroundimage.jpg") no-repeat center top;
    background-position-y: 70%;
}
}

@media screen and (max-width: 768px){
.australia-mobile-backgroundimage{
    background: url("/assets/images/australia-backgroundimage.jpg") no-repeat center top;
    background-position-y: 70%;
    background-size: cover;
}
}

/*--- oceania  background images---*/

@media screen and (min-width: 768px){
.oceania-backgroundimage{
    background: url("/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
    background-position-y: center;
}
}

@media screen and (max-width: 768px){
.oceania-mobile-backgroundimage{
    background: url("/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
    background-position-y: center;
    background-size: cover;
}
}

.maplistingbackground{
    background-color: wheat;
}



/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
overflow: scroll;
width: 20%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}


/* test map function */

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    @media screen and (min-width: 768px){
      #map {
        height: 100%;
        max-height:440px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    @media screen and (max-width: 768px){
            #map {
        height: 100%;
        max-height:440px;
        margin-top: 50px;
    
      }
    }
      
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        font-size: 12px;
      }
      
      .margins-10px{
          margin: 10px;
      }

    
      @media screen and (min-width: 768px){
      .listing {
        max-height: 440px;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        left: 10%;
        right:10%;
      }
}
      @media screen and (max-width: 768px){
        .listing-mobile {
        width: 100%;
        max-height: 440px;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
        margin-bottom: 50px;
        padding: 0px;
      }
      }

      #findhotels {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
        position: absolute;
        width: 190px;
        height: 25px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
      }
      #controls {
        left: 300px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      
      @media screen and (min-width: 768px){
      .resultsTable {
        border-collapse: collapse;
        width: 170%;
      
      }
      }
            
      @media screen and (max-width: 768px){
          .resultsTable-mobile{
              width: 100%;
              margin-bottom: 5% ;
          }
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }