     /*------ layout ------*/
     
.body{
        background-color: mintcream;
}

.header{
 
}

.footer{
    min-height: 200px
}

.body{
    
}

.title{
    color: white;
}


h1{
   text-align: center; 
}

.contact-description{
    text-align:center;
    font-size:20px;
}
.contact-section{
    width: 80%;
   margin: 10%;
}

     /*------ navbar ------*/

.navbar{
    background-color: blue;
    color:  white;
    margin: 0px
}
.navbar-nav{
    background-color: blue;
}

.navbar-default .navbar-brand {
    color: white;    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    
}


     /*------ Image ------*/

@media screen and (min-width: 768px){
.destinationcontainer{
    border: solid;
    padding: 10px;
    border-radius: 100px;
    min-height: 500px;
    background-color: white;
    }
}

@media screen and (max-width: 768px){
.mobile-destinationcontainer{
    min-height: 500px;
    background-color: white;
    padding-top: 5px;
    
}
}

@media screen and (min-width: 768px){
.mapscontainer{
    border: solid;
    min-height: 350px;
    margin: 50px;
    }
}

@media screen and (max-width: 768px){
.mobile-mapscontainer{
    border: solid;
    min-height: 350px;
    margin: 20px;
}
}


/*---google maps background images---*/

@media screen and (min-width: 768px){
.beachholiday-backgroundimage{
    background: url("/assets/images/beachholiday.jpg") no-repeat center top;
    min-height: 1000px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.beachholiday-mobile-backgroundimage{
    background: url("/assets/images/beachholiday.jpg") no-repeat center top;
    background-size: cover;
    min-height: 800px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}

/*--- europe background images---*/

@media screen and (min-width: 768px){
.europe-backgroundimage{
    background: url("/assets/images/europe-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.europe-mobile-backgroundimage{
    background: url("/assets/images/europe-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    
}
}

/*--- north america background images---*/

@media screen and (min-width: 768px){
.northamerica-backgroundimage{
    background: url("/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.northamerica-mobile-backgroundimage{
    background: url("/assets/images/northamerica-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}

/*--- south hamerica background images---*/

@media screen and (min-width: 768px){
.southamerica-backgroundimage{
    background: url("/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.southamerica-mobile-backgroundimage{
    background: url("/assets/images/southamerica-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}

/*--- africa background images---*/

@media screen and (min-width: 768px){
.africa-backgroundimage{
    background: url("/assets/images/africa-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.africa-mobile-backgroundimage{
    background: url("/assets/images/africa-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}

/*--- australia  background images---*/

@media screen and (min-width: 768px){
.australia-backgroundimage{
    background: url("/assets/images/australia-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.australia-mobile-backgroundimage{
    background: url("/assets/images/australia-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}

/*--- oceania  background images---*/

@media screen and (min-width: 768px){
.oceania-backgroundimage{
    background: url("/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
    min-height: 400px;
    background-size: cover;
    opacity: 70;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin: 5%;
}
}

@media screen and (max-width: 768px){
.oceania-mobile-backgroundimage{
    background: url("/assets/images/oceania-backgroundimage.jpg") no-repeat center top;
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
}
}



/* test map function */

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        font-size: 12px;
      }
      #map {
        width: 440px;
        height:440px;
      }
      #listing {
        position: absolute;
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 542px;
        top: 70px;
        cursor: pointer;
        overflow-x: hidden;
      }
      #findhotels {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
        position: absolute;
        width: 190px;
        height: 25px;
        left: 108px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
      }
      #controls {
        position: absolute;
        left: 300px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }